<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Data Surat Keluar</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/datatables/css/dataTables.bootstrap4.min.css}"/>
    <link rel="stylesheet" th:href="@{/stylesheet/sb-admin.min.css}"/>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

<div th:replace="navbar :: navbar"></div>

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Data Surat Keluar</li>
        </ol>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> Data Surat Keluar
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <a th:href="@{/newSendLetter}" sec:authorize="hasRole('ROLE_KEPALA_BAGIAN')">
                        <button type="button" class="btn btn-primary btn-sm">Tambah</button>
                    </a>
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Perihal</th>
                            <th>No Agenda</th>
                            <th>No Surat</th>
                            <th>Tanggal Surat</th>
                            <th>Deskripsi</th>
                            <th>File Surat</th>
                            <th sec:authorize="hasAnyRole('ROLE_PIMPINAN','ROLE_KEPALA_BAGIAN')">Aksi</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Perihal</th>
                            <th>No Agenda</th>
                            <th>No Surat</th>
                            <th>Tanggal Surat</th>
                            <th>Deskripsi</th>
                            <th>File Surat</th>
                            <th sec:authorize="hasAnyRole('ROLE_PIMPINAN','ROLE_KEPALA_BAGIAN')">Aksi</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr th:each="l,x : ${letter}">
                            <td th:text="${l.subject}"></td>
                            <td th:text="${l.agendaNumber}"></td>
                            <td th:text="${l.letterNumber}"></td>
                            <td th:text="${l.letterDate}"></td>
                            <td th:text="${l.description}"></td>
                            <td th:text="${l.letterUpload}"></td>
                            <td class="text-center">
                                <a th:href="@{/editSendLetter/{idLetter}(idLetter=${l.idLetter})}" sec:authorize="hasRole('ROLE_KEPALA_BAGIAN')">
                                    <button type="button" class="btn btn-success btn-sm">Ubah</button>
                                </a>
                                <a th:href="@{/deleteSendLetter/{idLetter}(idLetter=${l.idLetter})}" sec:authorize="hasRole('ROLE_KEPALA_BAGIAN')">
                                    <button type="button" class="btn btn-danger btn-sm">Hapus</button>
                                </a>
                                <a th:href="@{/files/{letterUpload}(letterUpload=${l.letterUpload})}" target="_blank" sec:authorize="hasAnyRole('ROLE_PIMPINAN','ROLE_KEPALA_BAGIAN')">
                                    <button type="button" class="btn btn-info btn-sm">Lihat</button>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © Your Website 2018</small>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}" type="application/javascript"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}" type="application/javascript"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" type="application/javascript"></script>
<script th:src="@{/webjars/jquery-easing/jquery.easing.js}" type="application/javascript"></script>
<script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}" type="application/javascript"></script>
<script th:src="@{/webjars/datatables/js/dataTables.bootstrap4.min.js}" type="application/javascript"></script>
<script th:src="@{/script/sb-admin.min.js}" type="application/javascript"></script>
<script th:src="@{/script/sb-admin-datatables.js}" type="application/javascript"></script>
</body>
</html>